/* All elements */

body {
  font-family: Tahoma, Verdana, "Segoe", sans-serif;
  font-size: 19px;
  background-color: #e4e4e4;
  min-height: 100vh;
  min-width: 200px;
  margin: 0px;
}

.welcome_text,
a,
h1,
h2,
h3 {
  font-family: "Rockwell", "Verdana", "sans-serif";
  font-stretch: condensed;
  font-weight: bold;
}

h1 {
  text-align: center;
}

a,
.fas {
  color: #46718c;
}

a:hover,
.fas:hover,
.active,
.welcome,
h1 {
  color: #8c7604;
}

h1 {
  font-size: 2em;
}

nav li,
footer li,
.fas,
button {
  font-size: 1.5em;
}

button {
  border-radius: 12px;
}

button:hover {
  opacity: 2;
  transform: scale(1.2);
}

/* Header*/

.header__content {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
}

header {
  border-bottom: 1px solid #707070;
}

.header__nav li,
footer li {
  display: inline-block;
}

nav li {
  padding: 20px;
}
a {
  text-decoration: none;
}

.searchAndIcons,
.search {
  display: flex;
}

#search {
  font-size: 1em;
  padding-left: 10px;
  border-radius: 25px;
  width: 150px;
}

.user-and-cart {
  margin-left: 15px;
}

header,
footer {
  padding-left: 20px;
  padding-right: 20px;
}

header,
footer,
.switchboard,
.person,
#search,
button,
input,
.checkout-successful {
  background-color: #dddddd;
}
/* Welcome */

.welcome {
  background-image: url("../Images/rocky-mountain-stormy-sky-daytime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 70vh;
  position: relative;
}

.welcome_text {
  position: relative;
  text-align: center;
  min-height: 70vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  font-size: 2.7em;
  text-shadow: 6px 3px 6px #000000;
}

.welcome_text span {
  display: block;
}

/* Product Overview */

.product_overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 75vw;
  margin: auto;
  grid-gap: 10px;
}

.product_overview h2 {
  grid-column: -1/1;
  margin-bottom: 0px;
}

.product_overview img {
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  width: 100%;
  height: 80%;
  display: block;
  object-fit: cover;
}

.product_overview_content {
  margin-top: 20px;
}

.product_overview_content h3,
.product_overview_content p {
  margin: 0px;
  padding: 0px;
}

.product-sale {
  display: flex;
  gap: 10px;
}

.OldPrice {
  text-decoration: line-through;
}

.NewPrice {
  color: red;
}

/* Product list */

.product_overview__top {
  grid-column: -1/1;
}
.product_overview p {
  margin-top: 1px;
  margin-bottom: 0px;
}
.product_overview h1 {
  margin-top: 0px;
}

/* Contact */

.switchboard,
.person {
  border: 2px solid#46718c;
}

.switchboard {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #46718c;
  max-width: 50vw;
  margin: auto;
  padding: 10px;
  flex-wrap: nowrap;
}

.main_contact p {
  margin: 0px;
  padding-top: 2px;
}

.main_contact h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.crew {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: 75vw;
  margin: 30px auto auto auto;
  grid-gap: 10px;
}

.person {
  display: flex;
  justify-content: space-around;
}

.person img {
  width: 90px;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 20%;
}

/*About us */
.about_container {
  max-width: 75vw;
  margin: auto;
  text-align: center;
}

.about_container__img {
  background-image: url("../Images/man-hiking-snowy-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 60%;
  min-height: 40vh;
  margin: auto;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 0px 3px 6px;
}

.about_container span {
  font-weight: bold;
}

/* Footer */

footer {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #707070;
}

footer li {
  margin-left: -35px;
}

/* Product Specific*/

.product-specific {
  display: flex;
  max-width: 75vw;
  margin: 50px auto;
  align-items: center;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-image {
  width: 100%;
}

.product-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.size,
.color {
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.size div,
.color div {
  vertical-align: middle;
  padding-bottom: 2px;
}

.color {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.product_specific_cta {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

/* Shopping cart and Checkout */
/*Shopping cart*/
.cart-checkout {
  display: flex;
  max-width: 75vw;
  margin: 10px auto;
  align-content: center;
}

.cart-checkout > * {
  flex: 1;
}
.cart-headers {
  display: flex;
  justify-content: space-between;
}

.cart-jacket-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-jacket-details img {
  width: 20%;
  object-fit: contain;
}

.cart-total {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-top: 1px solid #707070;
  align-items: flex-end;
}

.cart-checkout-button {
  display: flex;
  justify-content: space-around;
  max-width: 75vw;
  margin: 10px auto;

  align-content: center;
}
/*Payment*/

.checkout h2 {
  display: flex;
  justify-content: center;
}

.personal-info,
.payment-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.payment-info img {
  width: 137px;
  height: auto;
}

/*Checkout Successful*/

.checkout-successful {
  border: 2px solid #46718c;
  margin: 40px auto;
  width: 30%;
  padding: 10px;
  box-shadow: 0px 3px 6px;
  text-align: center;
}
.checkout-successful-header {
  color: #05bf4a;
}

/* Smaller desktop and landscape notepad */
@media only screen and (max-width: 1100px) {
  body {
    font-size: 16px;
  }

  nav li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Notepad */
@media only screen and (max-width: 900px) {
  .product_overview {
    grid-template-columns: 1fr 1fr;
  }
  nav {
    flex: 1 0 100%;
    order: 1;
    margin: 0rem -1rem -1rem -2.5rem;
    padding: 5px;
    border-top: 2px #46718c solid;
    gap: around;
    display: flex;
    justify-content: center;
  }

  .header__nav li {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .header__content img {
    padding: 5px;
    width: 70px;
    height: auto;
  }
  .switchboard {
    flex-direction: column;
    width: 40vw;
  }

  .switchboard-info h2 {
    margin-top: 10px;
  }
  .crew {
    grid-template-columns: 1fr;
  }

  .product-specific,
  .cart-checkout {
    flex-direction: column;
  }
}

/* Iphone 6/7/8  */

@media only screen and (max-width: 600px) {
  .product_overview {
    grid-template-columns: 1fr;
  }
  header {
    padding-left: 4.5px;
  }
  .search {
    margin-left: 12px;
  }

  .header__nav li {
    padding-right: 10px;
    padding-left: 10px;
  }

  .about_container__img {
    background-position-x: left;
  }

  .switchboard {
    width: 50vw;
  }

  .payment-info form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .checkout-successful {
    width: 50%;
  }
  .payment-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
  }
  .payment-info img {
    margin: auto;
  }
}
